- body_html = @blog_owner.profile_body_html(@current_locale)

.profile-page.max-w-5xl.mx-auto.my-8
  - if @blog_owner.portrait.attached?
    .profile-portrait.mb-6
      = image_tag url_for(@blog_owner.portrait), alt: @blog_owner.display_name(@current_locale), class: "w-50 aspect-[3/4] object-cover rounded-lg shadow-md mx-auto"

  h1.text-3xl.font-bold.text-gray-900.text-center.pb-10= @blog_owner.display_name(@current_locale)

  - if body_html.present?
    article.article-content
      = body_html

  .profile-articles-link.mt-12
    = link_to t("profiles.show.view_articles"), user_articles_path(@blog_owner.username, locale: @current_locale), class: "inline-block border border-gray-500 rounded-md px-6 py-2 text-base font-semibold text-gray-900 hover:bg-gray-100 transition-colors"
