.profile-header.mb-8
  .flex.items-center.gap-6
    - if @blog_owner.avatar.attached?
      = image_tag @blog_owner.avatar, class: "w-24 h-24 rounded-full"
    - else
      .w-24.h-24.bg-gray-300.rounded-full.flex.items-center.justify-center
        span.text-3xl.text-gray-600 #{@blog_owner.display_name.first}

    div
      h1.text-3xl.font-bold= @blog_owner.display_name(@current_locale)
      - if @blog_owner.localized_location(@current_locale).present?
        p.text-gray-600 #{@blog_owner.localized_location(@current_locale)}

      - if @blog_owner.localized_bio(@current_locale).present?
        p.mt-2= simple_format(@blog_owner.localized_bio(@current_locale))

      - if @blog_owner.website.present? || @blog_owner.twitter_handle.present? || @blog_owner.facebook_handle.present?

        .flex.flex_wrap.gap-3.mt-4
          - if @blog_owner.website.present?
            = link_to @blog_owner.website, target: "_blank" do
              | 🌐 Website
          - if @blog_owner.twitter_handle.present?
            = link_to "https://x.com/#{@blog_owner.twitter_handle.delete('@')}", target: "_blank" do
              | X
          - if @blog_owner.facebook_handle.present?
            = link_to "https://facebook.com/#{@blog_owner.facebook_handle}", target: "_blank" do
              | Facebook
            - if @blog_owner.github_handle.present?
              = link_to "https://github.com/#{@blog_owner.github_handle}", target: "_blank" do
                | GitHub
            - if @blog_owner.qiita_handle.present?
              = link_to "https://qiita.com/#{@blog_owner.qiita_handle}", target: "_blank" do
                | Qiita
            - if @blog_owner.zenn_handle.present?
              = link_to "https://zenn.dev/#{@blog_owner.zenn_handle}", target: "_blank" do
                | Zenn
            - if @blog_owner.hatena_handle.present?
              = link_to "https://#{@blog_owner.hatena_handle}.hatenablog.com/", target: "_blank" do
                | はてなブログ
