.max-w-2xl.mx-auto.mt-16.px-4
  h1.text-3xl.font-bold.text-gray-900.my-8 About

  .bg-white.p-8.rounded-lg.shadow-sm.border.border-gray-100
    p.text-lg.text-gray-700.leading-relaxed.mb-6
      | Dual Pascalは、Rails8で作成された個人開発のプロダクトです。
    p.text-lg.text-gray-700.leading-relaxed
      | アプリの詳細や開発の裏話はこちら ->&nbsp;
      = link_to "開発者のブログ", "https://dualpascal.com/ja/u/ymiyawaki/articles", class: "text-blue-500 hover:text-blue-600 hover:underline font-medium", target: "_blank", rel: "noopener"
