.max-w-2xl.mx-auto.mt-16.px-4
  h1.text-3xl.font-bold.text-gray-900.my-8 About

  .bg-white.p-8.rounded-lg.shadow-sm.border.border-gray-100
    p.text-lg.text-gray-700.leading-relaxed.mb-6
      | Dual Pascal is a personal project built with Rails 8.
    p.text-lg.text-gray-700.leading-relaxed
      | For more details about the app and behind-the-scenes stories from development, visit here ->&nbsp;
      = link_to "Developer’s blog", "https://dualpascal.com/ja/u/ymiyawaki/articles", class: "text-blue-500 hover:text-blue-600 hover:underline font-medium", target: "_blank", rel: "noopener"

