- if @resource.try(:unconfirmed_email?)
  p Dual Pascal のアカウントのメールアドレスを、#{@resource.unconfirmed_email} に変更する手続きを受け付けました。
- else
  p Dual Pascal のアカウントのメールアドレスが、#{@resource.email} に変更されました。
p
  | 心当たりがない場合は、お問い合わせフォームからご連絡ください。
  br
  = link_to new_contact_url(locale: :ja), new_contact_url(locale: :ja)
