doctype html
html
  head
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
  body style="font-family: sans-serif; line-height: 1.7; color: #222;"
    p #{@resource.display_name(:ja)} 様
    = yield
    hr style="border: none; border-top: 1px solid #ddd; margin-top: 32px;"
    p style="font-size: 13px; color: #666;"
      | Dual Pascal
      br
      = link_to root_url, root_url
